@media screen and (max-width:1000px) {
    p {
        font-size: 0.9rem;
        line-height:1.8rem;
    } 

    .grid-2 {
        gap: 1rem;
    }

}

@media screen and (max-width:825px) {
    /* burger */
    .burger {
        display: block;
        cursor: pointer;
    }

    /* navigation */
    nav {
        position: fixed;
        width: 50%;
        right: 0;
        top: 0;
        height: 100vh;
        flex-direction: column;
        background:rgb(61, 125, 92)
        transform: translateX(100%);
        transition: 
    }

    nav ul {
        height: 100vh;
        align-items: center;
        flex-direction: column:
        justify-content: center;
    }

    .nav-active {
        transform: translateX(0)
    }
}

@media screen and (max-width:640px) {

}